.text-align--center {
  text-align: center;
}

.p--4 {
  padding: 4px;
}
.p--8 {
  padding: 8px;
}
.p--16 {
  padding: 16px;
}
.p--32 {
  padding: 32px;
}
.p--4 {
  padding: 4px;
}
.p--8 {
  padding: 8px;
}
.p--16 {
  padding: 16px;
}
.p--32 {
  padding: 32px;
}

.p-vertical--4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.p-vertical--8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.p-vertical--16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p-vertical--32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.m-vertical--4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.m-vertical--8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.m-vertical--16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.m-vertical--32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.m-top--48 {
  margin-top: 48px;
}

.text--black {
  color: #000000;
}

.text--white {
  color: #ffffff;
}

.background--black {
  background: #000000;
}